@import url('https://fonts.googleapis.com/css?family=Inconsolata|Dancing+Script');
body, html
 {
  position: relative;
  background-image:url('/images/bg/barca-bg-02.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
#header
{
  position: relative;
  font-family: 'Dancing Script', cursive;
  font-size: 65px;
  top: 30px;
  left: 45%;
  text-align: center;

}

#second_header
{
	position: relative;
	top: 50px;
	text-align: center;
	padding: 0 140px;
	font-family: 'Comic Sans MS';
}


#youtube
{
	padding: 90 0 50 280;
}

.mySlides {display:none;}

img{
	position: relative;
	max-height: 300px;
	max-width: 600px;
	width: 600px;
	height: 300px;
	left: 400px;
	top: 60px;
}
#leftButton
{
	position: relative;
	top: -70px;
	left: 1010px;
}
#rightButton
{
	position: relative;
	top: -70px;
	left: 300px;
}