    <!-- Icons font CSS-->
    <link href="/pages/register/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/pages/register/vendor/select2/select2.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/pages/register/css/regmain.css" rel="stylesheet" media="all">


    <script src="/pages/register/vendor/jquery/jquery.min.js"></script>
    <script src="/pages/register/vendor/select2/select2.min.js"></script>
    <script src="/pages/register/js/global.js"></script>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Sign Up</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="city" ng-model="user">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="city" ng-model="pass">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">First Name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="city" ng-model="firstname">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name">Last Name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="city" ng-model="lastname">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">City</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="city" ng-model="city">
                                </div>
                            </div>
                        </div>
                        
                        

                        <div class="form-row">
                            <div class="name">Country</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="select-dropdown"></div>
                                    <select class="form-control" ng-change="unitChanged()" ng-model="country">
                                            <option value="" disabled selected>Choose country</option>
                                            <option ng-repeat="item in countries"  ng-value="item.Country">{{item.Country}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email" ng-model="email">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Category1</div>
                            <div class="value">
                                <div class="input-group">
                                    <select class="form-control" ng-change="unitChanged()" ng-model="catg1">
                                        <option value="" disabled selected>Choose first category</option>
                                        <option ng-repeat="item in categories" ng-value="item.Name">{{item.Name}}</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Category2</div>
                            <div class="value">
                                <div class="input-group">
                                    <select class="form-control" ng-change="unitChanged()" ng-model="catg2">
                                        <option value="" disabled selected>Choose second category</option>
                                        <option ng-repeat="item in categories" ng-value="item.Name">{{item.Name}}</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                                <div class="name">Question1</div>
                                <div class="value">
                                    <div class="input-group">
                                        <select name="subject2" ng-model="q1">
                                            <option value="" disabled selected>Choose question</option>
                                            <option>Q1</option>
                                            <option>Q2</option>
                                            <option>Q3</option>
                                            <option>Q4</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                        </div>

                        <div class="form-row">
                                <div class="name">Answer1</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="answer" ng-model="answer1">
                                    </div>
                                </div>
                        </div>
                        
                        <div class="form-row">
                                <div class="name">Question2</div>
                                <div class="value">
                                    <div class="input-group">
                                        <select name="subject2" ng-model="q2">
                                            <option value="" disabled selected>Choose question</option>
                                            <option>Q1</option>
                                            <option>Q2</option>
                                            <option>Q3</option>
                                            <option>Q4</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                        </div>

                        <div class="form-row">
                                <div class="name">Answer2</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="answer" ng-model="answer2">
                                    </div>
                                </div>
                        </div>

                        <div class="form-row">
                                <div class="name">Question3</div>
                                <div class="value">
                                    <div class="input-group">
                                        <select name="subject2" ng-model="q3">
                                            <option value="" disabled selected>Choose question</option>
                                            <option>Q1</option>
                                            <option>Q2</option>
                                            <option>Q3</option>
                                            <option>Q4</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                        </div>

                        <div class="form-row">
                                <div class="name">Answer3</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="answer" ng-model="answer3">
                                    </div>
                                </div>
                        </div>



                        <div>
                            <button class="btn btn--radius-2 btn--green" type="submit" ng-click="Register()">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

 


