<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="/css/StylePoi.css" rel="stylesheet">

<div class="content">
        
                <div class="row">
                        <h1>Point Of Interest</h1>
                        <input ng-model="Search" id ="textSearch" type="text" placeholder="Search"/>
                        <label>Select a category</label>
                        <input type="button" value="Search" ng-click="all()"/>
                        <select ng-model="myDropDown"  ng-click = "choice()" >
                                <option value="All"> All </option>
                                <option value="Historic" > Historic </option>
                                <option value="Attraction" > Attraction </option>
                                <option value="Museums" >Museums</option>
                                <option value="Restaurants" >Restaurants</option>
                        </select>
                </div>

                <div class="row" ng-show="myDropDown=='All' || myDropDown=='Historic' || myDropDown == null" >
                        <div class="head">
                                <h3>Historic Siet</h3>
                        </div>   
                        <div class="container" ng-repeat="pic in poiCtrl.Historic">
                                <div class="images">
                                        <img class = "image" id="test" ng-click="ImgClick(pic)" id="{{id}}" ng-src="{{ pic.Picture }}" alt="Snow" style="width:100%">
                                        <p class="description">{{ pic.name }}</p>
                                        <img class = "image1" ng-show="isConecting"  id="favoriteImage" ng-click="ClickFavorite(pic)"  ng-src= "{{ pic.IsFavorite }} " alt="Snow" >
                                </div> 
                        </div>
                </div>

                <div  class="row" ng-show="myDropDown=='All' || myDropDown=='Attraction' || myDropDown == null ">
                        <div class="head">
                                <h3>Attraction</h3>
                        </div>    
                        <div class="container" ng-repeat=" pic in poiCtrl.Attraction" >
        
                                <div class="images">
                                <img class = "image" ng-click="ImgClick(pic)" id="{{id}}" ng-src="{{ pic.Picture }}" alt="Snow" style="width:100%">
                                <p class="description">{{ pic.name }}</p>
                                <img class = "image1" ng-show="isConecting"  id="favoriteImage" ng-click="ClickFavorite(pic)"  ng-src= "{{ pic.IsFavorite }} " alt="Snow" >

                                </div> 
                        </div>
                
                </div>
                
                <div class="row" ng-show="myDropDown=='All' || myDropDown=='Museums' || myDropDown == null ">
                        <div class="head">
                                <h3>Museums</h3>
                        </div>
                
                        <div class="container" ng-repeat=" pic in poiCtrl.Museums" >
                                <div class="images">
                                        <img class = "image" ng-click="ImgClick(pic)" id="{{id}}" ng-src="{{ pic.Picture }}" alt="Snow" style="width:100%">
                                        <p class="description">{{ pic.name }}</p>
                                        <img class = "image1" ng-show="isConecting"  id="favoriteImage" ng-click="ClickFavorite(pic)"  ng-src= "{{ pic.IsFavorite }} " alt="Snow" >
                                </div> 
                        </div>
                </div>

                <div class="row" ng-show="myDropDown=='All' || myDropDown=='Restaurants' || myDropDown == null ">
        
                        <div class="head">
                                <h3>Restaurants</h3>
                        </div>  

                        <div class="container" ng-repeat=" pic in poiCtrl.Restaurants" >
        
                                <div class="images">
                                <img class = "image" ng-click="ImgClick(pic)" id="{{id}}" ng-src="{{ pic.Picture }}" alt="Snow" style="width:100%">
                                <p class="description">{{ pic.name }}</p>
                                <img class = "image1" ng-show="isConecting"  id="favoriteImage" ng-click="ClickFavorite(pic)"  ng-src= "{{ pic.IsFavorite }} " alt="Snow" >

                                </div> 
                        </div>
                </div>

                <div class="row" ng-show="search">
                        <div class="head">
                                <h3>Result Search:</h3>
                        </div>   
                        <div class="container" ng-repeat=" pic in poiCtrl.resSearch" >
                                <div class="images">
                                <img class = "image" ng-click="ImgClick(pic)" id="{{id}}" ng-src="{{ pic.Picture }}" alt="Snow" style="width:100%">
                                <p class="description">{{ pic.name }}</p>
                                <img class = "image1" ng-show="isConecting"  id="favoriteImage" ng-click="ClickFavorite(pic)"  ng-src= "{{ pic.IsFavorite }} " alt="Snow" >
                                </div>                             
                        </div>                
                </div>

        


        <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
        <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <figure>
        <span class="modal-name" ng-model="title"> {{title}}</span>
                <img class = "modalFavorite" ng-show="isConecting" ng-model="Res"  id="favoriteImage" ng-click="ClickFavorite1()"  ng-src= " {{ Res }} " alt="Snow" > 
        <div> 
                        <p class="modal-information" ng-model="users" ><b>Number of waching:</b> {{users}}</p>
                        <p class="modal-information" ng-model="desc"><b>description:</b>{{desc}}</p>
                        <button ng-show="isConecting" id="AddReview" type="button" ng-click = "addReview()" > Add Review </button>
                        <p class="modal-information" ng-model="rank"><b>Rank:</b>  {{rank}}</p>
                        <p class="modal-information" ><b>Review:</b></p>
                                <table ng-show = "tableVis">
                                        <tr>
                                        <th>Date</th>
                                        <th>Review</th>
                                        <th>Rank</th>                      
                                        </tr>
                                        <tr ng-repeat=" review in poiCtrl.review">
                                        <td>{{ review.Date }}</td>
                                        <td>{{ review.Review }}</td>
                                        <td>
                                                <a class="Star" ng-show=" {{review.Rank}} == 5 " ng-click="OnStar(5)" title="Give 5 stars">☆☆☆☆☆</a>
                                                <a class="Star" ng-show=" {{review.Rank}} == 4 " ng-click="OnStar(4)" title="Give 4 stars">☆☆☆☆</a>
                                                <a class="Star" ng-show=" {{review.Rank}} == 3 " ng-click="OnStar(3)" title="Give 3 stars">☆☆☆</a>
                                                <a class="Star" ng-show=" {{review.Rank}} == 2 " ng-click="OnStar(2)" title="Give 2 stars">☆☆</a>
                                                <a class="Star" ng-show=" {{review.Rank}} == 1 " ng-click="OnStar(1)" title="Give 1 star">☆</a>
                                        </td>

                                        </tr>
                                </table>
                        
                        <p class="modal-information" ng-show = "!tableVis" ng-model="rank"><b>There is no Review!</b></p>

        </div>
        </figure>
        </div>
        </div>
        </div>




        <div id="id02" class="w3-modal">
                <div class="w3-modal-content">
                <div class="w3-container">
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <figure> 
                <span class="id02"> New Review :</span>

                <div class="id02">
                        <div class="rating"><!--
                        --><a  id="5" ng-click="OnStar(5)" title="Give 5 stars">☆</a><!--
                        --><a  id="4" ng-click="OnStar(4)" title="Give 4 stars">☆</a><!--
                        --><a  id="3" ng-click="OnStar(3)" title="Give 3 stars">☆</a><!--
                        --><a  id="2" ng-click="OnStar(2)" title="Give 2 stars">☆</a><!--
                        --><a  id="1" ng-click="OnStar(1)" title="Give 1 star">☆</a>
                        </div>  
                        
                        <textarea id="ReviewText"class="text-to-translate" placeholder="Text to translate"></textarea><br>                    
                
                        <button class ="id02" type="button" ng-click = "AddDbReview()" > Add Review </button>      
                </div>
                </figure>
                </div>
                </div>
        </div>
</div>

