<link rel="stylesheet" type="text/css" href="/css/StyleAbout.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div>
  <h1 id ="header"><b>About</b></h1>

  <!-- display button functionality -->
  <div id="second_heder">
    <p>Barcelona may be famous for its famed soccer club but soccer is just one thing on the list of so many things the city excels in and offers. The city offers excellent aesthetics and there are so many reasons to love the city from its great architecture and galleries, to awesome food and music.</p>
    <p>With the abundance of historical and cultural artifacts, Barcelona is just about as romantic as another wonderful city of Paris. It’s certainly the city one ought to move to, if they are considering settling overseas.</p>
  </div>

  <div class="w3-display-container mySlides">
    <img id="imgAbout" src="/About1.jpg" >
  </div>

  <div id="imgAbout1" class="w3-display-container mySlides">
    <img src="/About2.jpg" >
  </div>

  <div id="imgAbout2" class="w3-display-container mySlides">
    <img src="/About4.jpg" >
  </div>

  <button id="rightButton" class="w3-button w3-display-left w3-black" ng-click="plusDivs(-1)">&#10094;</button>
  <button id="leftButton" class="w3-button w3-display-right w3-black" ng-click="plusDivs(1)">&#10095;</button>
</div>